# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Entity-Simulator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UNITY PROJECTS\UNITY REPOS\Entity-Simulator\.idea\.idea.Entity-Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
